$header-height: 10%;
$header-line-height: 4.5rem;

$left-sidebar-width: 17%;
$right-sidebar-width: 17%;
$content-width: 66%;

$border-color: rgba(0, 0, 0, 0.05);

$primary-color: #2ecc71;
$danger-color: #e74c3c;
$body-color: #2c3e50;