$header-height: 6rem;
$header-line-height: 4.5rem;

$left-sidebar-width: 18%;
$right-sidebar-width: 28%;
$content-width: 54%;

$border-color: rgba(0, 0, 0, 0.08);

$primary-color: #2ecc71;
$danger-color: #e74c3c;
$body-color: #2c3e50;